:root {

	/*
			fgc - foreground color
			bgc - background color
			bdc - border color
	*/

	/* main page: header, border, body */
	--bgc-header: #333;
	--bdc-page  : #333;
	--bgc-page  : #000;

	/* panel controls normal, disabled */
	--bgc-panel-controls: #222;
	--bgc-panel-disabled: #111;

	/* custom track/layer header, areas */
	--bgc-custom-head: #222;
	--bgc-custom-area: #111;

	/* device title text and background */
	--fgc-title: #33aa66;
	--bgc-title: #444;

	/* for device/pattern/effect descriptions */
	--fgc-textbox: #888;
	--bgc-textbox: #333;
	/* only used for device settings */
	--fgc-device-name: #bbb;
	--bdc-properties : #888;
	--fgc-props-off  : #444;

	/* button text/background:
			enabled for Mute/Solo
			paused for Pause/Resume
			active on Hover or tab-select
	*/
	--fgc-button-normal  : #fff;
	--fgc-button-disabled: #bbb;

	--bgc-button-active  : #666;
	--bgc-button-normal  : #444;
	--bgc-button-enabled : #222;

	--bdc-button-normal  : #bbb;
	--bdc-button-paused  : #aa5500;
	--bdc-button-enabled : #0066dd;
}

input {
	-webkit-padding: 0.3em 0;
	padding: 0.3em
}

input:disabled {
	color: var(--bgc-panel-disabled);
}

button {
	color: var(--fgc-button-normal);
	background-color: var(--bgc-button-normal);
	border: 1px solid var(--bdc-button-normal);
	border-radius: 5%;
}

button:disabled,button[disabled] {
	pointer-events: none;
	color: var(--fgc-button-disabled);
	opacity: 0.35;
}

button:not(:disabled):active {
	background-color: var(--bgc-button-active);
}

button:hover {
	cursor: pointer;
	background-color: var(--bgc-button-active);
}

button:focus {
	background-color: var(--bgc-button-active);
}
