:root {

	--fgc-title: #33aa66;
	--bgc-title: #444;
	--bgc-header: #333;

	--bgc-panel: #000;
	--bgc-panel-border: #333;

	--bgc-divider: #333;
	--bgc-disabled: #111;

	--bgc-tracklayer-head: #222522;
	--bgc-tracklayer-area: #111;
	--bgc-controls-area: #222;

	--fgc-devicename: #aaa;
	--fgc-textbox: #999;
	--fgc-text-disabled: #555;
	--bgc-textbox: #333;
	--bgc-dropdown: #222;

	--fgc-button: #fff;
	--fgc-button-disabled: #999;
	--bgc-button: #444;
	--bgc-button-hover: #555;
	--bgc-button-active: #666;
	--bgc-button-border: #bbb;

	--fgc-border-paused: #aa5500;
	--fgc-border-select: #0066dd;
	--bgc-button-select: #222;
}

body {
  font-family:'Trebuchet MS';
}

/*
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}
*/

input, select, textarea {
	-webkit-padding: 0.3em 0;
	padding: 0.3em
}

input:disabled {
	color: var(--bgc-disabled);
}

button {
	color: var(--fgc-button);
	background-color: var(--bgc-button);
	border: 1px solid var(--bgc-button-border);
	border-radius: 5%;
}

button:hover {
	cursor: pointer;
	background-color: var(--bgc-button-hover);
}

button:disabled,button[disabled] {
	pointer-events: none;
	color: var(--fgc-button-disabled);
	opacity: 0.35;
}

button:not(:disabled):active {
	background-color: var(--bgc-button-active);
}

button:focus {
	background-color: var(--bgc-button-active);
}
